{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "no-console": 0,
        "no-unused-vars": [1, { "allow": ["constructors"] }],
        "no-empty-function": [1, { "allow": ["constructors"] }],
        "lines-between-class-members": 1,
        "no-duplicate-imports": 2,
        "comma-dangle": 1,
        "prefer-template": 2,
        "no-template-curly-in-string": 2,
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "double"],
        "semi": ["error", "always"]
    }
}
